.uploader-list{
	clear: both;
}

.webuploader-container {
	position: relative;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick,.btn {
	position: relative;
	display: inline-block;
	cursor: pointer;
	background: #00b7ee;
	padding: 10px 15px;
	color: #fff;
	text-align: center;
	border: none;
	font-size: 14px;
	border-radius: 3px;
	overflow: hidden;
	float: left;
	margin:5px;
}
.webuploader-pick-hover,.btn:hover {
	background: #00a2d4;
}

.webuploader-pick-disable.btn:disable {
	opacity: 0.6;
	pointer-events:none;
}

.file-item{
	width: 300px;
	height: 50px;
	border: 1px solid #bbb;
	border-radius: 3px;
	margin: 5px;
}
.file-info{
 	position: relative;
}
.file-info span{
 	vertical-align:middle;
}
.file-name{
	/*控制超出省略*/
	max-width:120px;
	display: inline-block;
 	white-space:nowrap;
 	text-overflow:ellipsis;
 	-o-text-overflow:ellipsis;
 	overflow: hidden;

 	margin-left: 10px;
 }
.file-size{
}
.file-percentage{
}
.upload-success{
	margin-left: 10px;
	color: green;
}
.upload-error{
	margin-left: 10px;
	color: red;
}
.btn-delete{
	border: none;
	background: #f00;
	color:#fff;
	cursor: pointer;
	position: absolute;
	right: 0;
	margin: 3px;
}
.btn-delete:hover{
	background: #b00;
}
.progress{
	border:1px solid #bbb;
	height:5px;
	width:280px;
	margin:10px;
}
.progress p{
	background:#00a2d4;
	height:100%;
	margin:0;
}
#uploader-demo{
	width:500px;
	float:left;
}
.file-list{
	float:left;
	border-left:1px solid #ddd;
	padding-left:10px;
}
.file-list form{
	border:1px solid #ddd;
	padding-left:10px;
}
.file-list input{
	border: none;
	background: #00b7ee;
	color:#fff;
	cursor: pointer;
	margin: 3px;
}
.file-list input:hover{
	background: #00a2d4;
}
